html, body{
background-color: rgb(4,4,4);

}
body{
	background-image: url('css/background.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}


.label{
	color: #a5a5a5;
}
.chose{
	padding-bottom: 20px;
	padding-top: 20px;
	

}
.desc{
	color: #a5a5a5;
	font-size: 20px;
}
.select_description{
	padding-bottom: 20px;
}
.nav_color{
	background-color: rgb(85,85,85);
}
.title{
	color: #a5a5a5;
	text-align: center;
}
.subtitle{
	color: #a5a5a5;
}

.input_box{
	background-color: rgb(85,85,85);
	border-color: rgb(85,85,85);
	margin-bottom:20px;
	
}
.input_text{
	align-content: center;
	align-self: center;
	width: 500px;
}
.input_box:hover{
	
	border-color: rgb(85,85,85);
	
}
select{
	background-color: #363636;
	color: #363636;
}
.input, .select select, .textarea{

	background-color: #a5a5a5;
}

.button{
	margin-top: 20px;
}
input::-moz-placeholder{
	opacity: 1;
	color: #fff;
}
.navbar.is-dark {
background-color: #121212;
color:#a5a5a5;
}
footer {
	background-color: #121212;
  height: 110px;
	padding: 30px;
	margin-top: 60px;
	font-size: 12px;
	text-align: center;
	}
footer a {
	text-decoration: none;
	color: #a5a5a5;;
}
footer a:hover {
	text-decoration: none;
	color: #ccc;
}
.footer-nav {
	padding-top: 20px;
}
.footer-nav a {
	color: #a5a5a5;
	font-size: 14px;
}
.radio{
	color: #a5a5a5;
}
.radio:hover{
	color:#fff;
}