html, body{
background-color: rgb(4,4,4);

}
body{
	background-image: url('css/background.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

nav{
	background-color: rgb(85,85,85);
}
a{
	color: red;
}
.chose{
	padding-bottom: 20px;
	padding-top: 20px;
}
.label{
	
}
.desc{
	color: #ccc;
	font-size: 20px;
}
.select_description{
	padding-bottom: 20px;
}
.nav_color{
	background-color: rgb(85,85,85);
}
.title{
	color: #ccc;
	text-align: center;
}
.subtitle{
	color: #ccc;
}

.input_box{
	background-color: rgb(85,85,85);
	border-color: rgb(85,85,85);
	margin-bottom:30px;
	
}
.input_text:{
	align-content: center;
	align-self: center;
	width: 500px;
}
.input_box:hover{
	
	border-color: rgb(85,85,85);
	
}
select{
	background-color: #363636;
	color: #363636;
}
.input, .select select, .textarea{

	background-color: #ccc;
}


input::-moz-placeholder{
	opacity: 1;
	color: #fff;
}